doctype html
html
    head
        title iJade
        meta(name="keywords", content="iJade")
        meta(name="description", content="iJade")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        link(rel="stylesheet", type="text/css", href="css/global.css?t=2")
    body
        #header
            h1
                a(href="/") iJade
            .navigation
                a.blue_button.home(href="/")
                    span Home
                a.blue_button.contact(href="/contact")
                    span Contact
                a.blue_button.about(href="/about")
                    span About
            #description iJade
        #form-content
            form(method="post")
                .original
                    textarea.lined(name="html" id="html")
                    span.window_label HTML
                .changed
                    textarea.lined(name="jade" id="jade")
                    span.window_label JADE
        #find-container
            button.blue_button.find_difference(type="submit", value="Convert") Convert
        #header
            h1
                a(href="/")
            #description Experiment By Chandan. Inspired by 'html2jade'
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(type="text/javascript", src="/app.js")