doctype html
html
    head
        title
            | Diff Checker - Online diff tool to compare text to find the difference between two text files
        meta(name="keywords", content="online diff, diff, diff tool, quick diff, quickdiff, online diff tool, diff checker, gnu diff")
        meta(name="description", content="Diff Checker is an online diff tool to compare text to find the difference between two text files")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(property="fb:admins", content="506766675")
        meta(property="og:title", content="Diff Checker")
        meta(property="og:type", content="website")
        meta(property="og:image", content="http://diffchecker.com/images/fb-image.png")
        link(rel="stylesheet", type="text/css", href="css/global3.css?t=2")
        link(rel="stylesheet", href="lib/codemirror.css")
    body
        #header
            h1
                a(href="/") DIFF CHECKER
            .social-buttons
                .fb-like(data-href="http://www.diffchecker.com", data-layout="button_count", width="30", data-action="like", data-show-faces="false")
                br
                span
                    g:plusone(size="medium", count="true", href="http://www.diffchecker.com")
            .navigation
                a.blue_button.home(href="/")
                    span Home
                a.blue_button.contact(href="contact.php")
                    span Contact
                a.blue_button.about(href="about.php")
                    span About
            #description
                | Diff Checker is an online diff tool to compare text differences between two text files. Enter the contents of two files and click "Find Difference!"
        #form-content
            form(enctype="multipart/form-data", method="post", action="/diff", name="diffform")
                .original
                    textarea#file1.lined(name="file1")
                    span.window_label ORIGINAL TEXT
                .changed
                    textarea#file2.lined(name="file2")
                    span.window_label CHANGED TEXT
                #find-container
                    #dropdown-container
                        select#storage-options(name="storage-options")
                            option(value="no") Don"t store diff
                            option(value="hour") Store for 1 hour
                            option(value="day") Store for 1 day
                            option(value="month") Store for 1 month
                            option(value="forever") Store forever
                    input.blue_button.find_difference(type="submit", value="Find Difference!")
        script(type="text/javascript", src="lib/codemirror.js")
        script(type="text/javascript", src="js/main2.js")
        script(type="text/javascript")
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8857839-4']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        #fb-root
        script
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=156576611081626";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        script(type="text/javascript")
            (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
              