doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title HTML 2 Jade - a converter for HTML

    meta(name='author', content='Chandan Pasunoori')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Acme", rel="stylesheet")

  body
    a(href='https://github.com/evatechsoft/ijade')
      img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 50;', src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

    block content

    footer
        a(href='http://www.evatechsoft.com') Eva TechSoft, Inc.

    //script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="/app.js")